[2020-08-27 16:06] amolenk opened #2 "Rebase eShopOnDapr on MSLearn microservices app"
Instead of extensively cleaning up the current eShopOnDapr implementation (which is based on the dev branch of eShopOnContainers), we can use the MSLearn microservices sample as the foundation.

|Subtask|Status|
|-|-|
|Docker Compose|✅ #1|
|Secret store|✅ #3 / #4|
|State store (Basket)|✅ #3 / #4|
|Pub/sub|✅ #6|
|Service invocation|✅ #5|
|Observability|✅ #5|

[2020-09-10 06:06] #2 closed, assigned to amolenk

[2021-01-06 13:29] geffzhang opened #18 "Web SPA use Blazor"
Blazor server is more reflected in the combination with Dapr, and blazor wasm is a better alternative to js' dotnet web project ，Do you plan to add blackzor as a web ui?

[2021-01-11 07:08] amolenk commented on #18
I'm looking at it, but having good Dapr support in the back-end services is the main priority right now.

[2021-01-16 04:48] Shawn-Fan commented on #18
Interesting, Do you have any plan on back-end services ? I mean some works finished in the current project but which service bus, pubsub(based on kafka/rabbitmq ...) will you work in the future?

[2021-01-16 14:46] geffzhang commented on #18
Discover that the dotnet team is writing a dapr for dotnet developer e-book https://github.com/dotnet/docs/tree/ebook-dapr-for-net-devs/docs/architecture/dapr-for-net-developers The current progress is Chapter VIII， This e-book code example looks like this repo

[2021-01-16 15:58] amolenk commented on #18
Yes, we're currently writing a *Dapr for .NET Developers* ebook which will be released alongside the 1.0 release of Dapr.

The sample code in this repo is a version of eShopOnContainers modified to show the use of the Dapr building blocks, and is used extensively in the ebook.

Because the code uses Dapr, it's very easy to switch infrastructure by simply configuring different components. For examp

[2021-01-16 18:10] Shawn-Fan commented on #18
I try to download the pdf document, but the link is to another one(https://dotnet.microsoft.com/download/e-book/cloud-native-azure/pdf), any idea?

[2021-01-17 00:31] robvet commented on #18
Shawn... sounds like you’re trying to download a .PDF, but getting a different one than you’re requesting? Which .PDF are you trying to download and which .PDF are you seeing?

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shawn Fan <notifications@github.com>
Sent: Saturday, January 16, 2021 12:10:53 PM
To: dotnet-architecture/eShopOnDapr <eShopOnDapr@no

[2021-01-17 01:55] Shawn-Fan commented on #18
@robvet
I try to download "dapr-for-net-developers" .PDF file from the link mentioned above but I got the "cloud-native-azure" ebook (although "cloud-native-azure" is an excellent one). I want to know the roadmap for the messaging development of the project if any.
Thanks!

[2021-02-06 20:34] Shawn-Fan opened #21 "Question on Actors in "dotnet-architecture / eShopOnDapr" Project"
"Actors" applied in the "services/api" is pretty cool, any plan on the  "services/domain" ?

[2021-02-10 02:35] karoldeland opened #22 "NPM script fail starting for SPA web app when using docker compose"
I cloned the git repo. From master, opened the root folder and tried to do docker compose up. All the containers start but if I look at the SPA container log, I have the following :

[02:34:48 ERR] An unhandled exception has occurred while executing the request.
System.AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script 'start' exited without indicating t

[2021-02-10 09:26] amolenk commented on #22
Just pushed some changes (#23) that hopefully fix this. Can you pull and try again? Make sure to remove your local image so that it'll get rebuilt.

[2021-02-10 09:49] amolenk commented on #21
You can consider the `OrderingProcessActor` the implementation of the domain business logic.

[2021-02-10 13:28] karoldeland commented on #22
Here is what I have now :

[13:27:37 ERR] An unhandled exception has occurred while executing the request.
System.AggregateException: One or more errors occurred. (One or more errors occurred. (Failed to start 'npm'. To resolve this:.

[1] Ensure that 'npm' is installed and can be found in one of the PATH directories.
    Current PATH enviroment variable is: /usr/local/sbin:/usr/local/bin:/usr/sbi

[2021-02-11 16:46] amolenk commented on #22
Should work now. Can you pull and try again?

[2021-02-12 02:06] karoldeland commented on #22
Fixed.

[2021-02-12 02:06] #22 closed

[2021-02-12 02:08] karoldeland opened #24 "Reset filter to All raise an error"
On the SPA app, the product filtering works well until you reset filters to All.

![image](https://user-images.githubusercontent.com/13969530/107722604-4a805b00-6cad-11eb-834c-39d3edf1f9f8.png)

[2021-02-12 06:07] amolenk commented on #24
Thanks for raising this. I believe it's an issue that we inherited from the original eShopOnContainers. I won't fix it for now as I'm already working on a Blazor version of the frontend. That will probably be ready in a couple of weeks to replace the Angular frontend.

[2021-02-19 01:39] samcov opened #28 "Opening SPA page fails"
**Navigating to http://localhost:5104/ gives the following error**:  InvalidOperationException: The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request.

However, http://localhost:5107/hc-ui works just fine(see pic)
![image](https://user-images.githubusercontent.com/1551314/108444768-19a1a800-7210-11eb-9a

[2021-02-19 06:16] amolenk commented on #28
Have you tried refreshing `http://localhost:5104` or even stopping/starting the solution? I've come across this error in the past, and then it seemed to be transient.

[2021-02-19 06:58] samcov commented on #28
I've tried refreshing it, restarting it, with no success.

Is this an angular thing? I know it's somewhat popular, but I really prefer straight html/js/css, not sure what's going on here, this is/should be the simplest part of the solution :)

[2021-02-21 08:53] samcov commented on #28
**Note**: I downloaded the latest with changes to WebSpa, but it still didn't work, but also didn't throw an exception.

However, I tried running it using the command line: **"docker-compose up"**

This worked, the main page came up from http://localhost:5104 redirecting to http://localhost:5104/catalog

There were missing images and functionality, which appears to indicate root directory issues p

[2021-02-21 20:06] #24 closed

[2021-02-21 20:06] #21 closed

[2021-02-21 20:30] amolenk commented on #28
Hmmm, I can't repro your docker-compose problem with some of the images not loading. I've tested running the solution using `docker-compose up` on both macOS and Windows and that worked.
BTW to buy something in the shop, you need to login first (top-right button). Otherwise, you won't be able to add any items to your basket.
My main focus now is getting the Blazor front-end up & running which will

[2021-02-22 03:43] timfun commented on #28
I have been there,   have the same issue when run by visual studio , i will try to run by powershell

[2021-02-22 08:44] obok opened #30 "Diagram legend typo"
A diagram `docs/media/eshop-on-dapr-buildingblocks.png` has a typo in the legend: _Service invokation_ probably was meant to be **5** (instead of **4**).

Noticed that on https://www.hanselman.com/blog/free-ebook-how-to-use-dapr-for-net-developers which linked to your diagram.

![image](https://user-images.githubusercontent.com/8970954/108683815-675d2f80-74f2-11eb-8026-496f987de78c.png)

[2021-02-22 12:30] amolenk commented on #28
Just pushed some fixes that should make the SPA work properly both when running from Visual Studio and Docker Compose directly.

@samcov @timfun Can you check if the latest update works for you?

[2021-02-22 16:18] #30 closed

[2021-02-22 19:34] samcov commented on #28
The catalog does come up(with all pictures), but I don't see a login button anywhere.

[2021-02-22 19:46] amolenk commented on #28
It's in the top-right, but the visibility is not great with the current background image.

![image](https://user-images.githubusercontent.com/3013979/108761129-c3ee3800-754e-11eb-93e8-4b6abe9c488d.png)

[2021-02-22 20:28] samcov commented on #28
Found it!!!

I logged in and was able to add items to the cart, and then check out.

**GREAT Job, Thanks!**

[2021-02-23 02:59] timfun commented on #28
@amolenk

I find a way to make it work when running from Visual Studio.
           add  the code below to WebSpa.csproj  at the end of  <Target> node.
           <Exec WorkingDirectory="$(SpaRoot)" Command="npm run build:prod" />

I will try your fix  thks

[2021-02-25 03:39] dsenthilraj opened #33 "Adding Project tye"
It will be super easy for developers using project tye. Add Tye.yaml

[2021-03-05 04:58] Shawn-Fan commented on #21
I am sorry to response it too late. Maybe my question is not clear, like the "Ordering.Domain" in the "eshopOnContainers", do you have any plan to apply DDD & Actor for the "Ordering.Domain" sub-application?

[2021-03-05 11:09] ozcano1 opened #36 "Service 'webspa' failed to build: The command '/bin/sh -c curl ..."
Hello

I am receiving following error both from CLI and Visual Studio F5 run. Would you be able to direct me please?

My setup is:
Windows 10 Pro Version 1607
Microsoft Visual Studio Enterprise 2019 Preview Version 16.10.0 Preview 1.0
Docker Desktop Version 2.0.0.3 (31259) Build: 8858db3 (Linux Containers)

Regard

Özcan Öz

# Populating apt-get cache...

+ apt-get update
Err:1 http://security.deb

[2021-03-06 19:03] jp1482 opened #37 "With docker-compose zipkin tracing not working"
I have used same file as provided.

1. docker-compose build ( successful)
2. docker-compose up ( sucessful)

It is running fine and display page and call to api working fine.

Now if I look at localhost:5411. It display zipkin page but no tracing information.

I have one another application if that application I run using cli -  dapr run then tracing working in that case.

[2021-03-07 03:52] jp1482 commented on #37
Issue is resolved. Nothing serious issue and it seems that configuration file has commented code. I have enable that part in eshop-config.yaml. It all started working.

[2021-03-07 03:56] #37 closed

[2021-03-07 18:34] brwilkinson opened #38 "Looking for documentation on Environment Variables"
Is there any documentation on running eShopOnDapr in Azure on AKS.

I am not that familar with the app. so these and other environment variables are unknown ?

  ESHOP_AZURE_STORAGE_CATALOG_NAME:
  ESHOP_AZURE_STORAGE_CATALOG_KEY:
  INSTRUMENTATION_KEY:
  ESHOP_PROD_EXTERNAL_DNS_NAME_OR_IP:

I also couldn't find any docs on these ones

  ESHOP_EXTERNAL_DNS_NAME_OR_IP: 'localhost'
  ESHOP_STORAGE_C

[2021-03-08 07:47] amolenk commented on #38
We don't have documentation for AKS specifically, but we do have instructions on how to run the app on Kubernetes in general: https://github.com/dotnet-architecture/eShopOnDapr/blob/master/docs/run-eshop.md#run-eshopondapr-on-kubernetes

Most of the environment vars you mention aren't actually used anymore in this version. We'll do a PR to clean this up.

[2021-03-08 07:48] #28 closed

[2021-03-08 07:51] amolenk commented on #36
Looks like your machine has trouble connecting to the apt-get repository server. Are you using a VPN or some other proxy? It could also have been a temporary error on the server side.

[2021-03-08 07:56] amolenk commented on #21
The version of eShop in this repo focuses on giving light-weight examples using the Dapr building blocks. That's why we changed the Order service to an Dapr actor implementation. When making that change, we've consolidated all ordering code into a single project, so the solution does not contain a separate Ordering.Domain project anymore.
There are no plans to change this any further. For DDD, the

[2021-03-08 18:07] Shawn-Fan commented on #21
Thanks.

[2021-03-26 09:10] ozcano1 commented on #36
This issue resolved as:
1-	Update more recent Visual Studio 2019
2-	Update more recent Docker for Windows Desktop
3-	Install and Initialize Dapr
4-	Re-Clone eShopOnDapr
5-	Rebuild eShopOnDapr

[2021-03-26 14:21] ozcano1 commented on #36
Hello
After some investigation I changed Dockerfile like this:

ARG NODE_IMAGE=node:12.0
FROM mcr.microsoft.com/dotnet/core/aspnet:3.1 AS base
WORKDIR /app
EXPOSE 80
ENV http_proxy=http://xxx
ENV https_proxy=http://xxx
RUN apt-get update
RUN curl -sL https://deb.nodesource.com/setup_10.x |  bash -
RUN apt-get update
RUN apt-get install -y nodejs

But this time I received error at the last line lik

[2021-03-27 16:31] tonysneed opened #40 "Remove dynamic from DaprEventBus PublishAsync"
Remove cast to `dynamic` from [DaprEventBus PublishAsync](https://github.com/dotnet-architecture/eShopOnDapr/blob/master/src/BuildingBlocks/EventBus/EventBus/DaprEventBus.cs#L32).

According to @rynowak [here](https://github.com/dapr-dotnet-extensions/dapr-event-bus/issues/1), you don't need to use `dynamic` for polymorphic serialization.

[2021-03-27 17:23] amolenk commented on #40
Thanks for raising this! Agree that this should be ‘object’ instead of ‘dynamic’. Will change this.

[2021-04-01 18:22] amolenk commented on #40
We'll fix this with the 1.0 release of the Dapr for .NET Developers ebook, as eShopOnDapr serves as the companion sample to the book.

[2021-04-10 08:04] HarveyJiang opened #41 "zipkin no records"
hi, use win10 docker desktop run master branche.
i update this cmmand, add -log-as-json ,but http://localhost:5411/zipkin no records, Everything else is fine. What else needs to be configured , thx.
command: ["./daprd",
      "-app-id", "payment-api",
      "-app-port", "80",
      "-log-level", "debug",
      **"-log-as-json",**
      "-components-path", "/components",
      "-config", "/configur

[2021-04-19 04:57] smagul opened #42 "dotnet restore fail when docker-compose up"
![image](https://user-images.githubusercontent.com/7121468/115183633-fa36d680-a0fd-11eb-85d2-18c2078557fe.png)

[2021-04-19 06:06] amolenk commented on #42
Hi @smagul
The restore of the NuGet packages fails. Assuming there are no disruptions on the nuget.org side, this is usually caused by client settings. Do you have a proxy/firewall configured that might block the call?

[2021-05-03 13:39] sughosneo opened #43 "Migrate from Newtonsoft.Json to System.Text.Json"
**Description:**

Few services in `eShopOnContainers` are still using `Newtonsoft.Json`. Need to migrate that to `System.Text.Json`

**Reference :**

[How to migrate from Newtonsoft.Json to System.Text.Json](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0)

[2021-05-06 07:59] worthy7 opened #44 "Order controller<>service loop in API?"
https://github.com/dotnet-architecture/eShopOnDapr/blob/1cd9106cf2475e33d6ce64ea60a2bc1a963e0250/src/ApiGateways/Aggregators/Web.Shopping.HttpAggregator/Services/OrderingService.cs#L20

I was looking at this sample project to try and understand how the aggregator pulls data from multiple services to form responses to the client API, but when looking here at the code for Drafting up an order from a

[2021-05-06 10:47] worthy7 opened #45 "Tests?"
The original project has tests in it, I was wondering if some could be added to this project too to help us see how to do it in a dapr way (if any) or to just generally keep in line with the original project

[2021-05-10 15:22] amolenk commented on #44
The code for the order draft isn't hit anymore and should be removed. The only scenario that currently requires the aggregator service is adding an item to the shopping basket (it will get product info from the catalog service before sending an update to the basket service)

[2021-05-25 10:41] vuminhquang opened #46 "Error on deploy to k8s"
Hello,
When I use .\start-all.ps1 in "deploy\k8s", I got this error:
![image](https://user-images.githubusercontent.com/20512463/119484556-57b6e680-bd80-11eb-81c5-c4db8719b460.png)
Seems that the error was in
dapr-config.yaml

Thanks

[2021-05-25 10:48] vuminhquang commented on #46
Install dapr resolve the error
dapr init -k

[2021-05-25 10:48] #46 closed

[2021-05-26 20:44] ChristPetitjean opened #47 "Login report a 404"
Hello there,

I'm using vscode here.
When I first run `docker-compose up` there was an issue with the build which seems to disapeared somehow at the second composition....

Ok so my catalog is showing:
![image](https://user-images.githubusercontent.com/13761085/119728235-83ff5f80-be73-11eb-9c1e-cb8d24922a7e.png)

But when I click login i came into this:
![image](https://user-images.githubuserconte

[2021-05-29 23:00] CJ99 commented on #47
First of all, you need to upgrade the `Dapr` version to the latest probably. Then, you can probably try the `identity server URL http://localhost:5105/ and http://localhost:5105/.well-known/openid-configuration to see if you can discover the auth endpoints.

[2021-06-01 06:49] vishnupn commented on #47
Updated all Dapr packages to latest version but still same issue ..
When i open localhost:5105, i can see ordering api
![Erro](https://user-images.githubusercontent.com/11084786/120278846-67c84c00-c2d3-11eb-845d-e209fc4694a5.jpg)

[2021-06-01 18:09] vishnupn commented on #47
This error can occur if the packages in the identity or web status services are failed to restore during docker compose --build.

[2021-06-05 08:38] vishnupn opened #48 "npm error on Visual Studio F5 Debugging with Docker Compose"
I am receiving the following error in  "WebSPA" (http://localhost:5104/catalog) when visual studio F5 debugging is used for running the application. Docker compose project is set as start up project

![Error](https://user-images.githubusercontent.com/11084786/120885555-4df67400-c607-11eb-8bd2-ea6862d1addd.JPG)

Any idea?

[2021-06-07 23:29] MedAnd opened #49 "Roadmap & progress update"
With continued investment & DAPR project progress, wondering if the eShopOnDapr  team could publish a roadmap? For example is this project still active etc. Thx.

[2021-06-08 05:04] amolenk commented on #49
Hi @MedAnd. Yes, the project is active. We're currently working on the last bits of the 1.0 version of the Dapr for .NET Developers ebook (which uses eShopOnDapr as a reference application). When that's out the door, we want to focus on eShopOnDapr updates including a Blazor client UI. Public roadmap is a good idea, we'll look into adding that to the readme.

[2021-06-12 15:50] CharlieDigital commented on #49
@amolenk Where will the ebook be published and what is the best channel to follow for notifications? (twitter?)

[2021-06-14 06:22] amolenk commented on #49
@CharlieDigital You can find the online version of the book here: https://docs.microsoft.com/dotnet/architecture/dapr-for-net-developers/
This is currently the preview edition. It will be updated to v1 in the coming weeks. That'll be promoted through the @daprdev twitter account

[2021-06-26 15:28] dheerajbhavsar opened #50 "Exception for CardType and OrderStatus"
![image](https://user-images.githubusercontent.com/17406958/123517858-fa84bc80-d6c0-11eb-8328-3f9bc86af85f.png)

/src/Services/Ordering/Ordering.API/Infrastructure/OrderingContextSeed.cs:line 74
requiredHeaders on like 167 should also be converted to lowercase before contains check.

[14:33:35 ERR] EXCEPTION ERROR: does not contain required header 'CardType'
System.Exception: does not contain requ

[2021-07-20 23:05] fbridger commented on #37
@jp1482 Would you mind sharing how you fixed this problem? I am still experiencing this issue when running the application from Visual Studio

[2021-07-20 23:07] fbridger commented on #41
I am experiencing the same issue when running the application through Visual Studio.

Any ideas why no tracing information is not displayed in Zipkin?

[2021-07-22 09:26] amolenk commented on #41
This is fixed by #52
There were some invalid '+' characters in the Dapr config file.

[2021-07-22 09:26] #41 closed

[2021-07-25 09:06] JCEdward opened #53 "Run eShopOnDapr from Visual Studio"
**when i run docker-compose or f5 in visual studio**

1>docker-compose  -f "H:\study\eShopOnDapr\docker-compose.yml" -f "H:\study\eShopOnDapr\docker-compose.override.yml" -p dockercompose16962333610270357271 --no-ansi config
1>[31moption '--no-ansi' is DEPRECATED ! Please use '--ansi' instead.
1>[0mCan't separate key from value
1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSB

[2021-09-01 23:27] sunil-thapa72 commented on #42
Hi @amolenk,

I just cloned and tried docker-compose up

I'm facing similar issues. We have client repo for Nuget but also it is setup for global Nuget.org repo to pull packages. I'm getting some warnings and issue when building the WebStatus.csproj because of the bootstrap@4.1.3 library.
![Pic1](https://user-images.githubusercontent.com/88549179/131758199-cb77dbab-5b49-4984-b050-86146056b1a5.PNG)

[2021-09-05 19:08] amolenk commented on #42
Hi,

Have you tried it multiple times to see if the `bootstrap@4.1.3` can be resolved? Unfortunately, Libman sometimes has intermittent problems with downloading packages

[2021-09-16 10:45] lsqtzj opened #56 "invalid variable name "\ufeff""
docker-compose  -f "D:\CSharp\eShopOnDapr\docker-compose.yml" -f "D:\CSharp\eShopOnDapr\docker-compose.override.yml" -p dockercompose1387013637272126799 --ansi never config
invalid variable name "\ufeff"
![image](https://user-images.githubusercontent.com/4635861/133598860-36b9af7b-2b5e-47d2-a6cc-d1236b1da634.png)

[2021-09-16 10:53] AntoCanza commented on #56
Are you using docker desktop under windows? if yes i had the same problem. i have fixed it:
Settings -> Experimental Features -> make sure the "Use  Docker compose v2" is not checked

[2021-09-17 10:49] ChrisProlls commented on #38
Hi @amolenk!
I tried to deploy all the microservices into an AKS cluster and expose the SPA locally with this command
[code]

The SPA shows correctly but can't reach other microservices to show products.
I tried to change the `type` of the `webspa` service from `NodePort` to `LoadBalancer` to have an external IP, but same result.

Any idea ?

[2021-09-20 07:32] amolenk commented on #38
Hi @ChrisProlls

The `webspa` requires access to both the `API gateway` (to call the back-end microservices) and the `Identity API` (for the OAuth2 flow). So those services must also be made available via an external IP.

The next version of eShopOnDapr (planned to be released before the end of the month) will have better docs/templates for deploying to AKS.

[2021-10-12 02:04] Gsonovb commented on #56
HI,

I have the same problem
I modified the ". Env" file encoding format to utf8, not utf8 with BOM

[2021-10-19 19:09] amolenk commented on #42
Closing this due to inactivity, let me know if you need help running the latest .NET 5 version of eShopOnDapr.

[2021-10-19 19:09] amolenk commented on #40
Done

[2021-10-19 19:09] #40 closed

[2021-10-30 04:54] DexManx opened #60 "Error when running docker-compose up --build"
Error response from daemon: Ports are not available: listen tcp 0.0.0.0:50001: bind: Only one usage of each socket address (protocol/network address/port) is normally permitted.

This is affecting the following containers:

darprio/daprd:1.4.0 webshoppingagg-dapr-1
darprio/daprd:1.4.0 eshopondapr-catalo-api-1
eshopdapr/basket.api:latest eshopondapr-catalo-api-1
eshopondapr/webshoppingagg:latest es

[2021-10-30 23:21] DexManx commented on #60
I rebooted my machine and it's working. I must have had a rouge port dangling somewhere.. phew'...

nice work guys... :-)

[2021-10-30 23:21] #60 closed

[2021-11-02 19:31] mgnoonan opened #61 "Replace Envoy with YARP"
I know the initial goal of the project was to port eShopOnContainers to add Dapr features, just wondering if there has been any discussion with replacing Envoy with the [YARP project](https://github.com/microsoft/reverse-proxy/issues) now that it has gone RC1?

[2021-11-04 15:08] amolenk commented on #61
Yes, the main focus is still on the use of the Dapr building blocks. Haven't looked at YARP in detail yet, there are currently no plans for replacing Envoy. One thing I noticed is that it ships as a NuGet package. That'd mean we must add another .NET service to the solution instead of using the Envoy container image.
Any thoughts on the benefits of using YARP over Envoy for eShopOnDapr?

[2021-11-08 07:41] amolenk commented on #56
BOM is removed from .env file

[2021-11-08 07:41] #56 closed

[2021-11-08 07:42] amolenk commented on #53
Hi @JCEdward. Can you retry with the latest eShopOnDapr version?

[2021-11-08 07:43] amolenk opened #62 "Migrate to .NET 6"
See #59

[2021-11-08 07:44] amolenk opened #63 "Run on Azure Container Apps"
Add deployments files to run eShop on the new Azure Container Apps service.

[2021-11-08 07:45] amolenk commented on #49
Closing this now. Progress on .NET 6 can be monitored via #62

[2021-11-08 07:45] #49 closed

[2021-11-08 07:45] #47 closed

[2021-11-09 09:02] wjkhappy14 opened #64 "unexpected character "»""
unexpected character "»" in variable name near "\ufeff# Compose supports declaring default environment variables in an environment file named .env placed in the folder docker-compose command is executed from (current working directory).\n# Compose expects each line in an env file to be in VAR=VAL format. Lines beginning with # (i.e. comments) are ignored, as are blank lines.\n# Note: Values presen

[2021-11-09 09:20] amolenk commented on #64
Hmm, probably still a BOM char in the `.env` file. I'll have a look.

[2021-11-11 00:13] mgnoonan commented on #61
Envoy is probably more mature and has performance benefits, so I don't have anything specific in mind that YARP would bring to the table. It's more about keeping it within the C# family of products. I agree, it doesn't ship as a stand alone container, but one more container build didn't seem like that much of a burden.

If you want to stick with Envoy, that's fine. I was just floating the idea. 😄

[2021-11-12 07:52] wjkhappy14 opened #65 "helm install myeshop ."
helm install myeshop .
Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Component" in version "dapr.io/v1alpha1", unable to recognize "": no matches for kind "Configuration" in version "dapr.io/v1alpha1"]

[2021-11-12 21:26] #61 closed

[2021-11-13 11:31] amolenk commented on #65
Make sure you deploy Dapr to K8s first: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/

[2021-11-17 05:41] amolenk commented on #64
Hi @wjkhappy14

Are you by any chance using Docker for Desktop with "Use Docker Compose v2" enabled in the settings? If so, can you uncheck the settings and try again?

[2021-11-18 12:12] Martiveen commented on #64
@amolenk having the same issue. Had the option enabled "Use Docker Compose V2". However turning it off does nothing for me.
Running OSX 11.6 the intel version.

[2021-11-19 06:16] amolenk commented on #64
Ah, there was still a BOM at the start of the `.env` file. Removed it so it should work now. Can you retry?

[2021-11-22 00:53] wjkhappy14 commented on #64
Hi boss,i  had save  the .env file as UTF-8 encoding ,then it works OK  for vs2019 with docker-compose !
thks!

[2021-11-30 03:44] wjkhappy14 opened #66 "run minikube"
run the [helm install myeshop .]     and all microservices are healthy, but i can't  navigate to http://localhost:30000 to view the eShopOnDapr UI.
why ?

[2021-12-02 11:59] wjkhappy14 commented on #46
dapr init -k

[2021-12-02 13:02] amolenk commented on #66
Haven't tried Minikube yet myself. Can you access the healthcheck UI at http://localhost:30007/healthchecks-ui?

[2021-12-08 10:41] ajaysingh77 opened #67 "docker-compose up is not working"
while running the application with docker-compose up, it's not working. I tried with dapr version defined in the docker-compose file and also with the latest dapr version. every time following 3 containers are not spinning up with the following error.

Environment: Windows 11, Docker Desktop 4.2

Containers
1. eshopondapr_ordering-api_1
2. eshopondapr_identity-api_1
3. eshopondapr_catalog-api_1

E

[2021-12-08 13:01] mgnoonan commented on #67
I am experiencing the same issue.

[2021-12-08 14:02] amolenk commented on #67
Those containers are all trying to get a DB connection string from the secret store, which obviously doesn't work right now :-( I'll have a closer look later today

[2021-12-08 16:44] amolenk commented on #67
I just got a fresh clone of the main branch and ran the solution using Docker Compose, but cannot reproduce the problem. Can you share the logging of the Dapr sidecar of one of the services that fails?

[2021-12-08 19:31] ajaysingh77 commented on #67
**Log from Order Api Dapr sidecar**

[code]

[2021-12-09 08:21] amolenk commented on #67
Thanks, haven't found the actual issue yet, but I at least have a repro on one of my other machines.

[2021-12-09 08:37] JCEdward commented on #53
Currently, this issue does not happen.

[2021-12-09 08:37] #53 closed

[2021-12-09 16:31] mgnoonan commented on #67
#69 almost fixed everything for me, but the Catalog API is still failing with the secrets error.

[2021-12-09 19:35] amolenk opened #71 "RabbitMQ not working correctly in Dapr 1.5.1 with Docker Compose"
RabbitMQ component fails to subscribe.

See https://github.com/dapr/components-contrib/issues/1372

[2021-12-09 19:39] ajaysingh77 commented on #67
after applying #69 changes now sometimes order and identity api start running but catalog api is still failing everytime.
seems there is an issue in dapr dotnet sdk
https://github.com/dapr/dotnet-sdk/issues/779

[2021-12-09 20:35] mgnoonan commented on #67
@amolenk Related perhaps?
https://github.com/dapr/dotnet-sdk/issues/779

[2021-12-10 08:16] amolenk commented on #67
FYI Just merged some workarounds for the current issues. Temporarily removed the use of `AddDaprSecretStore` and replaced RabbitMQ with Redis pubsub.

Solution should now work properly when started using Docker Compose.

[2021-12-10 17:41] mgnoonan commented on #67
Confirmed, it is working for me now. Thanks!

[2021-12-11 14:20] ajaysingh77 commented on #67
@amolenk yes these temp workarounds resolve the issue for now. Thanks!
I also tried the retry functionality around "AddDaprSecretStore" codebase and that resolves at atleast following error `Unhandled exception. Dapr.DaprException: Bulk secret operation failed: the Dapr endpoint indicated a failure. See InnerException for details`
but this path requires more effort to test the overall functionalit

[2021-12-13 08:33] expbk opened #73 "docker-compose is not working when run via visual studio"
Unable to run the project in visual studio when docker-compose is set as startup project.
Getting the error shown in the image below
![image](https://user-images.githubusercontent.com/87414495/145778173-a6a6d97c-ffa7-49b7-8834-632817e5e294.png)

[2021-12-14 09:40] Sen-Gupta commented on #73
We also faced this problem. VS2022 latest version,  Docker Desktop Latest.
Here is a little more information.

![image](https://user-images.githubusercontent.com/8068582/145972943-ebd0e4c0-2a56-4385-888c-45b51e5f0052.png)

[2021-12-15 16:50] ajaysingh77 commented on #73
When I tried Visual Studio, fortunately, I haven't seen this issue. I will try to see if I can replicate this.

[2021-12-17 15:26] Sen-Gupta commented on #73
If it helps any one, this is a known issue here: https://github.com/microsoft/DockerTools/issues/320.

@ajaysingh77 what is your configuration?  VS, Net Core and Docker Desktop?

[2021-12-17 15:38] RobHLowry commented on #73
I did a clean install yesterday and I got the same exception.  VS 2022 Community, Docker Desktop, Dapr 1.5.1.

[2021-12-17 15:39] ajaysingh77 commented on #73
@Sen-Gupta I am currently using Visual Studio 2022(17.0.2), Net Core and Docker Desktop (4.3.1) on Windows 11.

[2021-12-17 15:45] Sen-Gupta commented on #73
@ajaysingh77 I see, your VS stands a couple of build behind from latest which is
![image](https://user-images.githubusercontent.com/8068582/146570025-d22cd6bb-d4c7-454f-bef6-56734ab330e9.png)

[2021-12-17 16:39] ajaysingh77 commented on #73
@Sen-Gupta  finally I am able to replicate the issue by cloning the repo in a different location and running it from visual studio.
but the solution (workaround1) mentioned in [https://github.com/microsoft/DockerTools/issues/320](url) also pointed by you works for me.

[2022-01-11 16:44] kevingbb opened #74 "Unauthorized 401 error when adding to Basket"
I get a 401 Unauthorized error message when trying to add any item to the shopping cart after successfully logging in when running in a remote Kubernetes environment.

I can successfully run eShopOnDapr on my local machine through the use of docker-compose up. I am also able to successfully deploy the solution to a remote AKS cluster through the use of the Helm chart. All of the pods start up and

[2022-01-12 05:47] amolenk commented on #74
Thanks for reporting this @kevingbb, I'll look into it.

[2022-01-12 13:10] expbk opened #75 "Kubernetes Cluster setup not working properly"
Hey,
I have been trying to setup this project on Azure Kubernetes cluster and there are three pods which are stuck in `CrashLoopBackOff` error, when I check the logs for the particular error in the container under the stuck pod I get error regarding connection string.
**Command I used to setup the project after setting up dapr**
`helm install --set externalDnsNameOrIP=x.x.x.x myeshop . `
Output fo

[2022-01-12 18:38] amolenk commented on #75
Hi @expbk!

There was a problem with the connection strings not being loaded from the secret store (see https://github.com/dapr/dotnet-sdk/issues/779). As a workaround until the bug is fixed I now get the connection strings from environment vars (see #76). Could you try again with the latest version?

[2022-01-12 18:41] amolenk commented on #74
Turns out the manifest for the web shopping aggregator service didn't contain the correct setting for the location of the Identity service. Therefor, the aggregator couldn't validate the incoming auth token and raised the 401.

I've fixed it now along with some other K8s issues (see #76). Could you try again with the latest version?

[2022-01-12 18:42] amolenk commented on #66
Hi @wjkhappy14

I've pushed some K8s fixes (see #76). If you're still running into issues, can you check with the latest version?

[2022-01-13 06:04] kevingbb commented on #74
I grabbed the latest changes and it is now working as expected.

[2022-01-13 06:04] #74 closed

[2022-01-14 05:24] wjkhappy14 opened #77 "dapr 1.5.1"
{"errorCode":"ERR_DIRECT_INVOKE","message":"fail to invoke, id: catalog-api, err: rpc error: code = Internal desc = app channel is not initialized"}

[2022-01-21 07:07] wjkhappy14 opened #78 "Run eshop in k8s ,get [xxx pubsub already exists. error message .]"
[06:45:38 ERR] A default subscription to topic UserCheckoutAcceptedIntegrationEvent on pubsub **pubsub already exists.**
[06:45:38 ERR] A default subscription to topic OrderStockConfirmedIntegrationEvent on pubsub pubsub already exists.
[06:45:38 ERR] A default subscription to topic OrderStockRejectedIntegrationEvent on pubsub pubsub already exists.
[06:45:38 ERR] A default subscription to topic O

[2022-01-21 07:17] amolenk commented on #78
Is this on Dapr 1.5 or higher?
There was an issue in the .NET SDK (see https://github.com/dapr/dotnet-sdk/pull/761), but that should've been fixed in 1.5.

[2022-01-24 02:39] rishabhsaha commented on #75
Could you share you ingress resource definition as well? It isn't very clear from the docs that this step `helm install --set externalDnsNameOrIP=x.x.x.x myeshop . ` needs the externalIP from an ingress controller

[2022-01-24 14:00] expbk commented on #66
@amolenk were you able to run it on minikube ? If yes, can you please share how you accessed the eShopOnDapr UI ?

[2022-01-24 19:04] amolenk commented on #66
Hi @expbk,
I'm not using minikube myself and haven't had time yet to test it.

[2022-01-27 06:02] Sen-Gupta opened #79 "Guidelines to Debug BlazorClient"
Hello Team,

We tried to run the solution and it loads perfectly from Visual Studio. We are able to debug most part of the solution except the BlazorClient.

Following is our observations while debugging BlazorClient, we cleaned and rebuilt the projects to ensure our code changes are reflected

1. Can debug Program.cs
2. Can not debug any razor components
3. Created Partial Classes for razor compo

[2022-01-27 06:09] Sen-Gupta commented on #79
We are on VS 17.1.0 Preview 3.0!

[2022-02-18 16:39] jedjohan commented on #63
any progress on this ? need help ?

[2022-02-18 18:05] amolenk commented on #63
Hi, see #81. You should be able to run on ACA by deploying main.bicep. Will add docs and merge when I get back from my skiing trip 😊

[2022-03-11 02:59] dereklew commented on #74
Hi

Seems like if we run from VS, this issue will occurs.

[2022-03-14 09:32] huangyingting opened #85 "An unhandled error has occurred. Reload"
When running from locally with "docker-compose up", it shows "An unhandled error has occurred. Reload" after using demo user alice/bob to login.

crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: net_http_message_not_success_statuscode, 401, Unauthorized
System.Net.Http.HttpRequestException: net_http_message_not_succ

[2022-03-14 11:48] ManojG1978 opened #86 "Setting eshop on AKS with Internet access?"
Other than creating an Ingress resource (which is not part of the repo), are there simple steps to expose the blazorclient to the internet (just like in eshopOnContainers)? I see that all services are nodeports and need some plumbing to expose to the internet. Same goes to web status and auth.

[2022-03-17 04:23] dereklew opened #87 "d:\dbs\sh\sqfs\1217_141239\cmd\29\obj\x64retail\sql\mkmastr\databases\mkmastr.proj\MSDBData.mdf for file number 1. OS error: 2(The system cannot find the file specified.)."
Starting in Visual Studio Docker-compose hit with the following error.

SQL Server 2019 will run as non-root by default.
This container is running as user root.
Your master database file is owned by root.
To learn more visit https://go.microsoft.com/fwlink/?linkid=2099216.
2022-03-17 03:27:11.44 Server      Microsoft SQL Server 2017 (RTM-CU28) (KB5008084) - 14.0.3430.2 (X64)

17 2021 14:30:27

(C)

[2022-03-17 09:14] #87 closed

[2022-03-18 17:42] luisgizirian commented on #85
I see the same behavior. Also launching `docker-compose  up -d --build`, locally.

[2022-03-19 14:34] dereklew opened #89 "Using Visual Studio to launch the project, getting the Unauthenticated error despite already login."
Using Visual Studio to launch the project, getting the Unauthenticated error despite already login.

[{"traceId":"9c302b6e711d097a994a6a3580004115","id":"707e5f2a1782df16","kind":"CLIENT","name":"calllocal/basket-api/api/v1/basket/","timestamp":1647694630584448,"duration":667744,"localEndpoint":{"serviceName":"webshoppingapigw","ipv4":"172.18.0.10"},"tags":{"dapr.api":"GET /v1.0/invoke/basket-api/

[2022-03-21 13:15] dereklew commented on #89
Getting this

www-authenticate: Bearer error="invalid_token", error_description="The issuer 'http://localhost:5105' is invalid"

[2022-03-21 13:29] dereklew commented on #89
Resolved myself.

In Identity.api/appsettings.json, change the parameter to  "IssuerUrl": "http://localhost:5105"

[2022-03-29 01:09] wjkhappy14 opened #90 "6.0-bullseye-slim Service Unavailable"
failed to solve: failed to solve with frontend dockerfile.v0: failed to create LLB definition: failed to do request: Head "https://mcr.microsoft.com/v2/dotnet/aspnet/manifests/6.0-bullseye-slim": Service Unavailable
#17 [eshopdapr/webshoppingagg:dev internal] load metadata for mcr.microsoft.com/dotnet/aspnet:6.0-bullseye-slim
#17 ERROR: failed to do request: Head "https://mcr.microsoft.com/v2/dotn

[2022-03-30 12:19] #90 closed

[2022-03-30 12:20] wjkhappy14 commented on #89
POST http://loocalhost:5202/hub/notificationhub/negotiate?negotiateVersion=1 401 (Unauthorized)

[2022-03-31 01:46] wjkhappy14 commented on #89
docker-compose.override
identity-api
- IssuerUrl=http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP}:5105

[2022-03-31 10:11] amolenk commented on #89
Fixed by #91

[2022-03-31 10:11] #89 closed

[2022-03-31 10:12] amolenk commented on #85
Fixed by #91

[2022-03-31 10:12] #85 closed

[2022-04-01 18:15] ChristianWeyer opened #93 "Health check UI is not working (Apple M1 with Docker)"
I am starting the solution with `docker-compose up`.

The shop UI works, as well as the services/APIs.
However, when trying to navigate to the health check UI at `http://localhost:5107/healthchecks-ui`, I get this:

<img width="898" alt="image" src="https://user-images.githubusercontent.com/888718/161319418-bec484f7-34e9-47a9-9bef-7c07c0c52f49.png">

Did anyone ever see this?
Where to best look fo

[2022-04-01 18:20] ChristianWeyer commented on #93
BTW: I changed SQL Server to this version, for it to work on M1:
`mcr.microsoft.com/azure-sql-edge`

[2022-04-02 19:00] amolenk commented on #93
Hi @ChristianWeyer

I can repro this on my M1 Mac Mini

Looking at the container logs of the `xabarilcoding/healthchecksui` container, I see the following:

[code]

Looks like the container cannot start a file system watcher. I suspect this to be a M1 specific issue.

[2022-04-02 20:03] ChristianWeyer commented on #93
Would it make sense to report this as an issue to the .NET team? @amolenk?

[2022-04-02 20:34] ChristianWeyer commented on #93
FYI @amolenk: https://github.com/docker/for-mac/issues/5328

[2022-04-13 19:25] ChristianWeyer commented on #93
Do you have any idea and/or plans to fix this @amolenk ?

[2022-04-14 04:59] amolenk commented on #93
Hi @ChristianWeyer,

Yes, I'm planning to find a fix for this (my main desktop is a M1 Mac Mini, so I'd really like eShopOnDapr to run smoothly on it 😉 ). However, I'm unable to give an exact date for a fix as I don't have much time at the moment to spend on this project. It'll probably be second half of May.

It's interesting that it's only the `xabarilcoding/healthchecksui` container that has th

[2022-05-04 21:25] jedjohan commented on #63
Will try next innovation days, good job and thanks

[2022-05-06 07:06] wjkhappy14 opened #94 "Why the notification(signalr) use Http LongPolling, not WebSocket ?"
The notification(signalr)  use  Http LongPolling, not WebSocket   Why?

example:  http://192.168.1.19:5202/hub/notificationhub?id=zYYXug-Z7JyWCWzL0cJFFA
                ws://192.168.1.19:5202/hub/notificationhub?id=zYYXug-Z7JyWCWzL0cJFFA

[2022-05-11 10:22] wjkhappy14 commented on #94
the envoy config file  not config the  for  websocket  (- upgrade_type: websocket , stat_prefix: ingress_wss_to_wss)

[2022-05-17 05:07] ffrankozz opened #96 "Blazor Client app not daprized"
Just a simple  question: Is there any particular reason that the Blazor Client app is not daprized?

[2022-05-17 08:48] Xilosof commented on #96
I will try to answer your question, even though I am not the developer of this repository. If I'm wrong, I hope the owners will help.

I think this demonstrates the flexibility of the architecture and the possibility of partial implementation of dapr. That is, dapr is implemented in the entire part behind the "public api", which allows independent developers to use standard ways of communicating w

[2022-05-17 20:49] spottedmahn opened #97 "how do I start the app?"
reference: https://github.com/dotnet-architecture/eShopOnDapr/blob/main/docs/run-eshop.md#run-eshopondapr-from-visual-studio

I cloned it, started it up in VS 2022, appears to be running but chrome didn't open, what port is the blazor front-end app running on? What do I type in Chrome start the app as a user😉?

looks like it's running 🤷‍♂️
![image](https://user-images.githubusercontent.com/1407922

[2022-05-17 20:55] spottedmahn commented on #97
if I start BlazorClient.Host directly:

![image](https://user-images.githubusercontent.com/14079228/168908485-6fa7f228-eb12-472d-b0b8-7d87e4e2b24c.png)

[2022-05-18 16:05] #96 closed

[2022-05-18 17:19] ffrankozz commented on #96
@amolenk  Oh yes, Blazor runs in the browser. I forgot that.  Thank you for the reply. However, if we had used an aspnetcore mvc frontend, instead of Blazor Client, we might be daprizing it, I suppose.

[2022-05-19 18:51] amolenk commented on #96
@ffrankozz Yes, I agree. If the frontend would run server-side, we wouldn't need the API gateway and it would make sense to just use a Dapr sidecar to reach the back-end services.

[2022-05-20 05:58] wjkhappy14 commented on #97
if you use the visual studio 2022  pls set the docker-compose  as start project and then F5

maybe  you can run   docker-compose up   directly

[2022-05-23 12:58] spottedmahn commented on #97
thanks for the input but I'm already doing that 😊:

![image](https://user-images.githubusercontent.com/14079228/169823669-c54d6cbe-08ef-4a7c-9bb0-13bd8c531054.png)

what do I do now?  how do I open the app?  chrome?

[2022-05-23 13:41] amolenk commented on #97
You should be able to open the UI by navigating to http://localhost:5104/ from your browser.
A health dashboard should be available at http://localhost:5107/healthchecks-ui

[2022-05-25 09:38] gunnars04 opened #98 "When will you update this example to use container apps?"
Azure container apps became general availability yesterday:
https://techcommunity.microsoft.com/t5/apps-on-azure-blog/azure-container-apps-general-availability/ba-p/3416885

[2022-05-27 18:54] #98 closed

[2022-05-27 18:56] amolenk commented on #86
The Kubernetes instructions (https://github.com/dotnet-architecture/eShopOnDapr/blob/main/docs/run-eshop.md) now include an NGINX ingress controller. Instructions do not include setting up DNS though, that's still something you'd have to do yourself and dependent on type of K8s cluster.

[2022-05-27 18:56] #86 closed

[2022-05-27 18:57] amolenk commented on #79
Is this still a problem with VS 2022?

[2022-05-27 18:57] #78 closed

[2022-05-27 18:58] amolenk commented on #73
Fix has shipped in VS 17.1

[2022-05-27 18:58] #73 closed

[2022-05-27 18:59] #71 closed

[2022-05-27 18:59] #66 closed

[2022-05-27 19:00] amolenk commented on #63
Support for ACA has been pushed. See https://github.com/dotnet-architecture/eShopOnDapr/blob/main/docs/run-eshop.md#run-eshopondapr-on-azure-container-apps

[2022-05-27 19:00] #63 closed

[2022-05-31 15:33] #93 closed

[2022-05-31 15:35] amolenk opened #100 "Use Dapr configuration provider for secret access"
This was temporarily disabled because of issues in the SDK. Issues have been resolved now.

[2022-05-31 15:35] amolenk commented on #67
Tracking the remaining work for enabling the Dapr configuration provider in #100

[2022-05-31 15:35] #67 closed

[2022-06-09 03:51] #94 closed

[2022-06-09 03:51] wjkhappy14 commented on #94
i have been  fixed it !

[2022-06-20 06:53] YataoFeng opened #101 "Can you briefly describe the saga mode of dapr"
Can you briefly describe the saga mode of dapr.
And  precautions for saga mode in dapr.

[2022-07-02 19:03] amolenk commented on #101
Hi @YataoFeng,

Can you elaborate on what you mean with 'the saga mode of dapr'?

Thanks

[2022-07-13 14:50] qdelamea opened #102 "Using GCP Pub/Sub instead of RabbitMQ"
HI everyone,

I'm trying to deploy eShopOnDapr on GCP using GCP's native services. I decided to it step by step and I started by running the project locally replacing the RabbitMQ broker with GCP Pub/Sub. To do so, I removed the RabbitMQ service from the docker-compose manifest files and I changed the Dapr pubsub component manifest file.

On GCP, I Just created a service account and I rewrite the

[2022-07-13 15:52] amolenk commented on #102
Looks like Dapr still finds a component file that contains the RMQ config. Do you have the source available somewhere so I can have a look?

[2022-07-28 09:52] qdelamea commented on #102
Indeed, a RabbitMQ component was always present in the folder. So it means that Dapr prioritizes some components compared to others?

[2022-07-28 10:11] amolenk commented on #102
Dapr doesn't really prioritize. It simply loads all the component files it finds from the components directory. Your log entries only show Dapr finding the RabbitMQ component and then failing to load it, so I'm not sure if you've also got a GCP component in the same folder.

If two components have the same name, I'm actually not sure what happens. Could be that the one that's loaded last simply ov

[2022-08-02 07:10] adeliab opened #107 "Error when running in visual studio"
I tried running the solution using visual studio and got this error

12>ERROR: for Web.Shopping.HttpAggregator  Cannot create container for service webshoppingagg: i/o timeout
12>ERROR: for catalog-api-dapr  b'i/o timeout'
12>ERROR: for webshoppingagg  Cannot create container for service webshoppingagg: i/o timeout
12>Encountered errors while bringing up the project.
12>C:\Program Files\Microsoft

[2022-08-02 07:23] adeliab opened #108 "Image deployment in container app"
Is there a sample of the image deployment in a pipeline?
I saw the bicep files of container apps deployment refer to images like 'eshopdapr/catalog.api:latest'
but I don't see a code that publish the project to this image

[2022-08-02 07:43] adeliab commented on #107
It works after closing VS and trying it again

[2022-08-02 07:43] #107 closed

[2022-08-02 08:34] amolenk commented on #108
Hi @adeliab
We use GitHub Actions to build the images. Files can be found at: https://github.com/dotnet-architecture/eShopOnDapr/tree/main/.github/workflows

[2022-08-02 08:34] #108 closed

[2022-08-02 10:12] yanxiaodi opened #109 "An unhandled error has occurred. Reload"
Following the document to deploy the app on a local k8s with Docker Desktop, see the error below after logging in with the test account:

/gateway/b/api/v1/basket/:1

      Unhandled exception rendering component: net_http_message_not_success_statuscode, 500, Internal Server Error
System.Net.Http.HttpRequestException: net_http_message_not_success_statuscode, 500, Internal Server Error
   at System

[2022-08-08 06:15] Sen-Gupta opened #111 "A true Enterprise Aarchitecture Demo"
Hello Team,

While this project is a great starting point for Architecture point of view. There are certain things that would just make it awesome.

1. Add Support for Tye
2. Replace Services with Grpc
3. Identity should be hosted separately and no client should have access to identity database directly. (Use Oidc) **I know from a sample points of view this one is a bit tough one but in any enterp

[2022-08-08 09:28] Sen-Gupta commented on #79
@amolenk , I'm not sure if I'm missing something but I'm still unable to debug razor pages.

FYI. I'm on.
![image](https://user-images.githubusercontent.com/8068582/183385116-58ca2725-af9c-4a07-8e02-308c8b5ecc92.png)

Placed debug in the catalog.razor
![image](https://user-images.githubusercontent.com/8068582/183385325-c6ea9b28-325a-401e-8285-27a25a28c381.png)

But it stays in "No symbols have bee

[2022-08-09 14:21] amolenk commented on #109
Thanks for reporting this @yanxiaodi !
Been able to repro this, will investigate what's going on.

[2022-08-09 17:32] amolenk commented on #109
This turned out to be a problem with the secrets in K8s. Because the secret store wasn't set up properly, the state store component (which the Basket Service depends on) was unavailable. Fixed by #112.

I've tested this using the default `:latest` containers on Docker Hub. If you're using your own locally build containers, please rebuild them from the latest version of the source code. Reason is t

[2022-08-09 17:38] amolenk commented on #79
Hi,
I've never tried this personally, when I wrote the Blazor client I was running/debugging it in VS Code directly and I had only the backend services running in Docker.

I'm actually not sure it's even possible. I found this (older, VS2019) issue which states that it's not supported: https://github.com/dotnet/aspnetcore/issues/22092

[2022-08-20 09:20] NikiforovAll commented on #100
Hi,
Do you mind if I work on it?

[2022-08-29 18:36] #101 closed

[2022-08-31 14:42] #109 closed

[2022-09-22 03:07] jjsuo opened #117 "ystem.AggregateException: One or more errors occurred"
I start project on vs2022, open http://localhost:5104/ show error:

![image](https://user-images.githubusercontent.com/6995664/191649384-ddd8c168-405c-4096-b5d9-8612d93d4812.png)

[2022-09-27 11:04] white-label-development opened #118 "Blazor dlls blocked by Sophos"
Hi. New to Dapr, Blazor and Containers so out on a limb here.

When I run eShopOnDapr I can see the blazor dlls being rejected (by Sophos) in the Chrome network tab. I've tried adding the [BlazorWasmAntivirusProtection](https://github.com/stavroskasidis/BlazorWasmAntivirusProtection) but it doesn't seem to work in this scenario as the dlls are not renamed (I've rebuilt and played around with `<Ren

[2022-10-05 10:31] MichalKosowski commented on #45
Upvote for that. Looks like the subject of integration testing for Dapr-based services is really fresh, hardly any information about guidelines or practices on that subject...

[2022-10-21 14:14] rmcaneny-cs opened #120 "Azure Container Apps Missing SecretStore"
The following Apps are failing at startup for Azure Container Apps:
* Catalog API
* Identity API
* Ordering API
* (And of course the Aggregator because of the above).

It looks like you are missing some DAPR settings for the ACA implementation:

1. Identity API bicep needs to have DAPR wired in.
2.  dapr SecretStore is not being created in the Bicep files. This is causing the above to fail.

Thank

[2022-11-15 16:20] rmcaneny-cs commented on #120
Similar work being done around this:
https://github.com/dotnet-architecture/eShopOnDapr/issues/100
https://github.com/dotnet-architecture/eShopOnDapr/pull/115

[2022-11-22 16:28] FeiJerry opened #122 "buildingblocks.png"
Can you share the tools that generated this flowchart? Thanks。
![image](https://user-images.githubusercontent.com/48877879/203368010-9b31579e-9a2b-496b-b368-ec63a54d0f3a.png)

[2022-11-25 08:19] FeiJerry commented on #122
thanks

[2022-11-29 03:19] bobbyangers commented on #45
Anyone ?  I would really like to see that too.

[2022-11-29 08:37] erjain commented on #118
Hi @white-label-development, thank you for sharing your query here. Are you still facing this issue?